<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test">
    <classes>
      <class name="UdemyProject.PractiseMaven.RegDay2Test"/>
      <class name="UdemyProject.PractiseMaven.RegDay1Test"/>
      <class name="UdemyProject.PractiseMaven.Day1Test"/>
      <class name="UdemyProject.PractiseMaven.Day2Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
